.timer{
  .clock{
    height: calc(100vh - 100px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .minute,.second{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .arrows{
        display: flex;
      
        img{
          width: 80px;
          height: 80px;
      
          &:hover{
            cursor: pointer;
          }

          &.rotate{
            transform: rotate(180deg)
          }
        }
      }
    }

    .numbers, .separator{
      font-size: calc(100vh - 260px);
      line-height: calc(100vh - 260px);
      overflow: hidden;
    }
  }

  .buttons{
    img{
      width: 80px;
      height: 80px;
      margin: 0 15px;
    }
  }
}
